.Navbar {
    width: 100%;
    font-family: sans-serif;
}

/* ================= TOP ================= */
.nav-top {
    background: #f7f8fa;
    color: #6a6a6a;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-top .Container {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.nav-top a {
    margin-right: 15px;
    cursor: pointer;
    color: #6a6a6a;
}

.nav-top a:hover {
    color: #6f2fff;
}

/* ================= MIDDLE ================= */
.nav-middle {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-middle .Container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #6f2fff;
    white-space: nowrap;
}

/* KATALOG */
.catalog-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 6px;
    background: #ece6ff;
    color: #6f2fff;
}

/* SEARCH */
.search-box {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
}

.search-box input {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 15px;
}

.search-btn {
    width: 50px;
    border: none;
    background: #f5f5f5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ICONS */
.icons {
    display: flex;
    gap: 15px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

.icon:hover {
    color: #6f2fff;
}

.nav-bottom {
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bottom .Container {
    height: 36.8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bottom .Container .bottom-item {
    cursor: pointer;
    font-size: 13px;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all .8s ease;
}

.nav-bottom .Container .bottom-item:hover {
    color: gray;
}

.nav-bottom .Container .bottom-item img {
    width: 24px;
    height: 24px;
}

.nav-bottom .Container>.Link {
    color: rgb(77, 79, 89);
    cursor: pointer;
    width: auto;
    height: 36.8px;
    transition: all .8s ease;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.5px 0;
    position: relative;
    overflow: hidden;
}

.nav-bottom .Container>.Link::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: all .8s ease;
}

.nav-bottom .Container>.Link:hover{
    color: black;
}

.nav-bottom .Container>.Link:hover::before {
    left: 0;
}