.Footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Footer .Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Footer .Container .top {
    width: 100%;
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
    gap: 160px;
    margin-bottom: 40px;
}

.Footer .Container .top .ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Footer .Container .top .ul p {
    font-weight: 600;
}

.Footer .Container .top .ul li {
    color: gray;
    font-size: 15px;
}

.Footer .Container .bottom {
    width: 100%;
    height: 50px;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Footer .left p{
    font-weight: 600;
    cursor: pointer;
}

.Footer .left {
    display: flex;
    gap: 30px;
}

.Footer .right p{
    color: gray;
    font-size: 13px;
}