*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.Div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container{
    width: 1240px;
    height: auto;
}